<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kinco.kmlink">

    <application
        android:name=".sys.SysApplication"
        android:allowBackup="true"
        android:label="KMlink"
        android:icon="@mipmap/_128"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity
            android:name="com.kinco.kmlink.SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kinco.kmlink.MainActivity"
            android:label="KMlink"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*" />
                <data android:pathPattern=".*\\.dat" />
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.kinco.kmlink.ui.secondpage.SecondMoreActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:theme="@style/AppTheme"
            android:launchMode="singleInstance"
            android:parentActivityName="com.kinco.kmlink.MainActivity"/>
        <activity android:name="com.kinco.kmlink.ui.functionpage.DeviceList"/>
        <activity android:name=".ui.secondpage.ReadChildActivity"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".ui.firstpage.SetChildActivity"
            android:launchMode="singleInstance"
            android:exported="true"/>

        <activity android:name="com.kinco.kmlink.ui.menupage.SerialActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name="com.kinco.kmlink.ui.menupage.MasterSettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name="com.kinco.kmlink.ui.functionpage.FileActivity"
            android:exported="true" />
        <service
            android:name="com.kinco.kmlink.BluetoothService.BleService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>